*,
body {
  font-family: Arial;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#topnav {
  width: 100%;
  background-color: #EBF9F8;
}

#topnav h1 {
  margin-left: 60px;
}

h1 {
  font-size: 30px;
}

.name,
.theme {
  text-align: center;
  margin-left: 60px;
}

h1 span {
  font-weight: bold;
  color: #16BBCE;
}

/* Connection Forum */
.contact-info {
  padding-left: 100px;
}

/* ACES */
section #about,
#content,
#edux,
#skills {
  margin: auto;
  float: center;
}

section #about,
#content,
#edux,
#skills h2 {
  width: 100%;
}

.profile, p {
  margin-left: 60px;
}

#about #contact-icons img {
  margin-left: 60px;
  border: 3px solid #16BBCE;
  width: 75px;
  height: 75px; 
}

#content .github3,
.exhibit3 {
  border: 5px solid #33CCCC;
  font-weight: bold;
  margin-left: 60px;
  height: 300px;
  width: 400px;
}

#content .card-body {
  margin-left: 30px;
}

#content #card-link {
  font-weight: bold;
  font-size: 16px;
  color: black;
  background-color: #EBF9F8;
  border: 5px solid #33CCCC;
  margin-left: 30px;
}

#content #website3 {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-left: 30px;
  border: 4px solid #33CCCC;
  background-color: white;
}

#edux .school,
.bootcamp {
  border: 5px solid #33CCCC;
  width: 400px;
  margin-left: 60px;
}

#edux .card-title,
.card-text {
  margin-left: 30px;
}

.skills10 {
  margin-left: 60px;
  width: 75px;
  height: 75px;
}

h2 {
  text-align: center;
  background-color: #EBF9F8;
  color: #16BBCE;
  font-weight: bold;
}

h2 span {
  color: black;
}

.square_circle {
  border-radius: 50%;
}